body{
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg,#4facfe,#00f2fe);
    margin:0;
    padding:0;
}
.container{
    width:90%;
    max-width:400px;
    background:#fff;
    margin:60px auto;
    padding:25px;
    border-radius:10px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}
h2{
    text-align:center;
    margin-bottom:20px;
}
input,select,button{
    width:100%;
    padding:10px;
    margin:8px 0;
    border-radius:5px;
    border:1px solid #ccc;
}
button{
    background:#007bff;
    color:white;
    border:none;
    cursor:pointer;
}
button:hover{
    background:#0056b3;
}
a{
    text-decoration:none;
    color:#007bff;
}
table{
    width:100%;
    border-collapse:collapse;
}
th,td{
    padding:8px;
    border:1px solid #ccc;
    text-align:center;
}
.present{color:green;font-weight:bold;}
.absent{color:red;font-weight:bold;}
